ActivityPane {
    -fx-padding: 16px 8px 8px 8px;
    -fx-hgap: 1px;
    -fx-vgap: 16px;
}

ActivityBlock {
    -fx-pref-height: 70px;
    -fx-max-height: 70px;
}

.activity-block-inner {
    -fx-background-radius: 8px;
}

.activity-dimensions-rest {
    -fx-pref-width: 60px;
    -fx-max-width: 60px;
}
.activity-dimensions-drive {
    -fx-pref-width: 90px;
    -fx-max-width: 90px;
}
.activity-dimensions-work {
    -fx-pref-width: 80px;
    -fx-max-width: 80px;
}
.activity-dimensions-available {
    -fx-pref-width: 120px;
    -fx-max-width: 120px;
}

.divider-line {
    -fx-stroke-width: 1px;
    
}

.start-divider-line {
    -fx-stroke: #22DD22;
}

.end-divider-line {
    -fx-stroke: #FF2222;
}

.day-divider-line {
    -fx-stroke: #CC5555;
    -fx-stroke-dash-array: 4 4;
}

.week-divider-line {
    -fx-stroke-width: 2px;
    -fx-stroke: #2222FF;
    -fx-stroke-dash-array: 6 6;
}